{% load threadedcomments_tags %}
{% load thumbnail %}

<style>
	ul {list-style-type:none;}
</style>

{% if comments %}
	<div style="color: grey; margin-left: 1em; font-size: 80%;">
		{% for comment in comments|fill_tree|annotate_tree %}
		
			{% if not comment.open and not comment.close %}
				</li>
			{% endif %}
    
			{% if comment.open %}
    				<ul>
			{% endif %}

			<li{% if comment.last %} class="last"{% endif %}>
	
			<div style="margin-top: 0; margin-bottom: 0; border: 1px solid lightgrey; padding-left:4px; padding-top: 0; padding-bottom: 0; " >
				<strong>{{ comment.title }}</strong>
				<div style="margin-top: 0; margin-bottom: 0; ">
					{% if comment.user.customer_contact %}
						{% if comment.user.customer_contact.avatar %}
						<img src="/site_media/{% thumbnail comment.user.customer_contact.avatar avatar_size %}" />
						{% endif %}
					{% endif %}
					{% if comment.user.producer_contact %}
						{% if comment.user.producer_contact.avatar %}
						<img src="/site_media/{% thumbnail comment.user.producer_contact.avatar avatar_size %}" />
						{% endif %}
					{% endif %}
					<i>
						{% if comment.title %}
						From
						{% else %}
						Reply from 
						{% endif %}
						{{ comment.user.get_full_name }} 
						{% if comment.user.producer_contact %}
						of {{ comment.user.producer_contact.producer.long_name }}
						{% endif %}
						{% if comment.user.customer_contact %}
						of {{ comment.user.customer_contact.customer.long_name }}
						{% endif %}
						{{ comment.submit_date }}
					</i>
				</div>
				<div style="margin: 0; padding: 0; ">
					{{ comment.comment|linebreaksbr }}
				</div>
			</div>
			{% for close in comment.close %}
    				</li>
    				</ul>
			{% endfor %}
	
		{% endfor %}
	</div>
{% endif %}



