{% extends "base.html" %}

{% load threadedcomments_tags %}

{% block title %}
     {{ food_network }} Community 
{% endblock %}

{% block extra_head %}
{{ block.super }}

<style type="text/css">
	button
	{
		font-size: 50%;
	}
	input, textarea
	{
		border : 1px solid lightgrey;

	}
	p
	{
		margin-top: 0;
		margin-bottom: 0;
	}
</style>

{% include "dojo_include.html" %}

<script type="text/javascript" >

	function toggleComment(evt)
{
	elId = evt.target.id.split('-')[1];;
	var el = dojo.byId(elId);
 	if(el.style.display != "none")
  	{
		el.style.display = "none";
		evt.target.innerHTML="+";
  	}
  	else
	{
		el.style.display = "";
		evt.target.innerHTML="-";
	}

}	

	dojo.addOnLoad(function()
	{
		var queryNodes = dojo.query(".toggle");
		for(var i=0;i<queryNodes.length;i++)
		{
			var node = queryNodes[i];
			dojo.connect(node, "onclick", "toggleComment");
		}
	});

</script>

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="community" style="margin-bottom: 2em;" >

	{% include "producer/producer_tabnav.html" %}
	
	<h3 style="padding-top: 0; margin-top: 0; " >Comments from customers </h3>

	<h3>Recent general comments about us:</h3>
	<div>
		{% get_comment_list for party as comments %}
		{% include "producer/comments_for_producer.html" %}
	</div>

	<h3>Comments about recently purchased products:</h3>
	<div style="margin-left: 2em;" >
	{% for product in products %}
	{% get_comment_list for product as comments %}
	{% if comments %}
	<div style="margin-top: 1em;" >
		<strong>
			{{ product.product.long_name }} 
		</strong>
		{% include "producer/comments_for_producer.html" %}

	</div>
	{% endif %}
	{% endfor %}
	</div>
	
</div>
{% endblock %}


