{% load threadedcomments_tags %}
{% load thumbnail %}

<style>
	ul {
		list-style-type:none;
		margin-top: 0;
	}
</style>

{% if comments %}
	<div style="color: grey; margin-left: 4px; margin-top: 0;">
		{% for comment in comments|fill_tree|annotate_tree %}
		
			{% if not comment.open and not comment.close %}
				</li>
			{% endif %}
    
			{% if comment.open %}
    				<ul>
			{% endif %}

			<li{% if comment.last %} class="last"{% endif %}>
	
			<div style="margin-top: 4px; border: 1px solid lightgrey; padding-left: 4px; width: 40%; " >
				<strong>{{ comment.title }}</strong> 
				<div style="margin-top: 0; margin-bottom: 2px; font-size: 80%;">
					{% if comment.user.customer_contact %}
						{% if comment.user.customer_contact.avatar %}
						<img src="/site_media/{% thumbnail comment.user.customer_contact.avatar avatar_size %}" />
						{% endif %}
					{% endif %}
					{% if comment.user.producer_contact %}
						{% if comment.user.producer_contact.avatar %}
						<img src="/site_media/{% thumbnail comment.user.producer_contact.avatar avatar_size %}" />
						{% endif %}
					{% endif %}
					<i>
						{% if comment.title %}
						From
						{% else %}
						Reply from 
						{% endif %}
						{{ comment.user.get_full_name }} 
						{% if comment.user.customer_contact %}
						of {{ comment.user.customer_contact.customer.long_name }}
						{% endif %}
						{{ comment.submit_date }}
					</i>
				</div>
				{{ comment.comment|linebreaks }}
			</div>
			<i>Reply</i> <button id="toggle-reply{{ comment.id }}comment" class="toggle" >+</button>
			<div id="reply{{ comment.id }}comment" style="display: none; " >
				{% get_comment_form for comment.content_object as form %}
				{% include "threadedcomments/reply_form.html" %}
			</div>
			{% for close in comment.close %}
    				</li>
    				</ul>
			{% endfor %}
	
		{% endfor %}
	</div>
{% endif %}

