{% load thumbnail %}

<div style="border: 1px solid lightgrey; padding-left: 4px; background-color: {{ producer.background_color }};">
	<div id="producer{{ producer.id }}-mini" style="float: left; width: 90%; height: 8em; ">
		<div>
			{% if producer.logo %}
			<div style="float: left; width: 48px; ">
				<img src="/site_media/{% thumbnail producer.logo logo_size %}" />
			</div>
			{% endif %}
			<div style="float: left; margin-left: 3px;">
				<b>{{ producer.long_name }}</b> <br/> 
				<span style="color: grey; font-style:italic; margin-left: 1em; ">
					{{ producer.tag_line }}
				</span>
			</div>
			<div style="clear: both;"></div>

		</div>
		<div style="font-size: 90%;">
		<table>
			<tr>
				<th style="text-align: right; " >Contact:</th>
				<td> {{ producer.main_contact.name }} </td>
			</tr>
			<tr>
				<th style="text-align: right; vertical-align: top; " >Specialties:</th>
				<td> {{ producer.specialty_names }} </td>
			</tr>
			<tr>
				<th style="text-align: right; vertical-align: top; " >Products:</th>
				<td> {{ producer.product_categories }} </td>
			</tr>
		</table>
	</div>
	</div>
	<div id="producer{{ producer.id }}-full" style="float: left; width: 90%; display: none;">
		{% include "producer/full_profile.html" %}
	</div>
	<div style="float: right;">
		<button id="toggle-producer{{ producer.id }}" class="toggle" >More +</button>
	</div>
	<div style="clear: both;"></div>
</div>
