{% load thumbnail %}

<div style="border: 1px solid lightgrey; padding-left: 4px; background-color: {{ producer.background_color }};">
	<div id="producer{{ producer.id }}-mini" style="float: left; width: 90%; ">
		<div>
			{% if producer.logo %}
			<img src="/site_media/{% thumbnail producer.logo logo_size %}" />
			{% endif %}
			<b>{{ producer.long_name }}</b> <br/> 
			<span style="color: grey; font-style:italic; ">
				{{ producer.tag_line }}
			</span>
		</div>
		<table>
			<tr>
				<th style="text-align: right; " >Contact:</th>
				<td> {{ producer.main_contact.name }} </td>
			</tr>
			<tr>
				<th style="text-align: right; vertical-align: top; " >Specialties:</th>
				<td> {{ producer.specialty_names }} </td>
			</tr>
			<tr>
				<th style="text-align: right; vertical-align: top; " >Products:</th>
				<td> {{ producer.product_names }} </td>
			</tr>
		</table>
	</div>
	<div id="producer{{ producer.id }}-full" style="float: left; width: 90%; display: none;">
		{% include "producer/full_profile.html" %}
	</div>
	<div style="float: right;">
		<button id="toggle-producer{{ producer.id }}" class="toggle" >More +</button>
	</div>
	<div style="clear: both;"></div>
</div>
