{% load thumbnail %}

<div style="border: 1px solid lightgrey; padding-left: 4px; ">
	<div style="float: left; width: 90%; ">
		<div>
			{% if producer.logo %}
			<div style="float: left; width: 48px; ">
				<img src="/site_media/{% thumbnail producer.logo logo_size %}" />
			</div>
			{% endif %}
			<div style="float: left; margin-left: 3px;">
				<b>{{ producer.long_name }}</b> <br/> 
				<span style="color: grey; font-style:italic; margin-left: 1em; ">
					{{ producer.tag_line }}
				</span>
			</div>
			<div style="clear: both;"></div>

		</div>

		<table>
			<tr>
				<th style="text-align: right; " >Contact:</th>
				<td> {{ producer.main_contact.name }} </td>
			</tr>
			<tr>
				<th style="text-align: right; vertical-align: top; " >Specialties:</th>
				<td> {{ producer.specialty_names }} </td>
			</tr>
			<tr>
				<th style="text-align: right; vertical-align: top; " >Products:</th>
				<td> {{ producer.product_names }} </td>
			</tr>
		</table>
	</div>
	<div style="float: right;">
		<a href="{% url producer_profile %}">Full</a>
	</div>
	<div style="clear: both;"></div>
</div>

