{% extends "base.html" %}

{% load humanize %}

{% block title %}
     {{ food_network }} Producer Dashboard
{% endblock %}


{% block content %}

<div class="producer-dashboard">

	{% include "producer/producer_tabnav.html" %}
	
	<h3 style="padding-top: 0; margin-top: 0; margin-bottom: 1em; " >{{ food_network.long_name }} Producer Dashboard for {{ producer.long_name }}</h3>
	{% comment %}
	{% if recent_comments %}
	<div style="float: left; width: 40%; margin-top: 0; padding-top: 0; padding-left: 1em; margin-bottom: 2em; color: gray; " >
	<h3 style="padding-top: 0; margin-top: 0; margin-bottom: 0; " >Recent comments:</h3>	
	<div style="color: grey; margin-top: 0; " >
		{% include "threadedcomments/comment_list.html" %}
	</div>
	{% for key, value in commented_products.items %}
		<div style="margin-top: 0; color: grey; " >
		<div style="margin-left: 1em; margin-bottom: 0;">
		<strong>
			{{ key.product }}
		</strong>
		</div>
		{% with comments=value.comments %}
		{% include "threadedcomments/comment_list.html" %}
		{% endwith %}

		</div>
	{% endfor %}
	</div>
	{% endif %}
	{% endcomment %}

	{% if unfilled %}
	<div style="float: left; width: 40%;">
	<h3 style="padding-top: 0; margin-top: 0; " >Unfilled Orders:</h3>
	<table class="ga-event-table" >
		<thead style="background-color: #EAF2D3;" >
		<tr>
			<th style="text-align:left;" >Customer</th>
			<th style="text-align:left;" >Delivery Date</th>
			<th style="text-align:left;" >Product</th>
			<th style="text-align: right:" >Quantity</th>
		</tr>
		</thead>
		<tbody>

		{% for item in unfilled %}
			<tr>
				<td style="text-align:left;" >
					<a href="{% url public_customer_profile customer_id=item.order.customer.id tabs='P' tab='producer-dashboard' %}">
						{{ item.order.customer }}
					</a>
				</th>
				<td style="text-align:left;" >{{ item.order.delivery_date }}</th>
				<td style="text-align:left;" >{{ item.product }}</th>
				<td style="text-align: right;" >{{ item.quantity|intcomma }}</td>		
			</tr>
			{% endfor %}
		</tbody>

	</table>
	</div>
	{% endif %}

	{% if payments %}
	<div style="float: left; width: 50%; margin-left: 1em;">
		<h3 style="padding-top: 0; margin-top: 0; " >Upcoming Payments from {{ food_network.long_name }}:</h3>
	<table class="ga-event-table" >
		<thead style="background-color: #EAF2D3;" >
		<tr>
			<th style="text-align:left;" >Pay Date</th>
			<th style="text-align:left;" >Customer</th>
			<th style="text-align:left;" >Delivery Date</th>
			<th style="text-align:left;" >Product</th>
			<th style="text-align: right:" >Quantity</th>
			<th style="text-align: right:" >Amount Due</th>
		</tr>
		</thead>
		<tbody>

			{% for item in payments %}
			<tr >
				<td style="text-align:left;" >{{ item.payment_due_date }}</th>
				<td style="text-align:left;" >{{ item.order_customer }}</th>
				<td style="text-align:left;" >{{ item.transaction_date }}</th>
				<td style="text-align:left;" >{{ item.product }}</th>
				<td style="text-align: right;" >{{ item.amount|intcomma }}</td>
				<td style="text-align: right;" >${{ item.due_to_member|intcomma }}</td>		
			</tr>
			{% endfor %}
			<tr>
				<th colspan="5" style="text-align: right;" >Total:</th>
				<td style="text-align: right;" >${{ payment_total|intcomma }}</td>

		</tbody>

	</table>
	</div>
	{% endif %}

	{% if filled %}
	<div style="float: left; width: 40%; margin-left: 1em;">
	<h3 style="padding-top: 0; margin-top: 0; " >Recently Filled Orders:</h3>
	<table class="ga-event-table" >
		<thead style="background-color: #EAF2D3;" >
		<tr>
			<th style="text-align:left;" >Customer</th>
			<th style="text-align:left;" >Delivery Date</th>
			<th style="text-align:left;" >Product</th>
			<th style="text-align: right:" >Quantity</th>
		</tr>
		</thead>
		<tbody>

		{% for item in filled %}
			<tr >
				<td style="text-align:left;" >
					<a href="{% url public_customer_profile customer_id=item.order.customer.id tabs='P' tab='producer-dashboard' %}">
						{{ item.order.customer }}
					</a>
				</th>
				<td style="text-align:left;" >{{ item.order.delivery_date }}</th>
				<td style="text-align:left;" >{{ item.product }}</th>
				<td style="text-align: right;" >{{ item.quantity|intcomma }}</td>		
			</tr>
			{% endfor %}
		</tbody>

	</table>
	</div>
	{% endif %}

</div>
{% endblock %}

