{% extends "base.html" %}
{% load i18n %}


{% block title %}
     {{ producer }} Profile
{% endblock %}

{% block header %}

<style type="text/css">
	h4
	{
		margin-top: 2px; 
		margin-bottom: 0;"
	}
	th, td
	{
		padding-left:5px;
	}
	th
	{
		font-weight:bold;
	}
	tr.even td 
	{
		color:#000000;
		background-color:#EAF2D3;
	}
	p
	{
		margin-top: 0;
		font-size: 80%;
	}

</style>

{% endblock %}


{% block content %}

<div class="profile">

	{% include "producer/producer_tabnav.html" %}
	
	<h3 style="padding-top: 0; margin-top: 0; " >
		{{ producer.long_name }} Profile &nbsp;&nbsp;&nbsp;
		<a href="{% url edit_producer_profile %}">Change profile</a>
	</h3>

	<div style="float: left; margin-left: 1em; width: 40%;" >
		<table>
			<tr>
				<th style="text-align: right; " >Name:</th>
				<td> {{ producer.long_name }} </td>
			</tr>
			<tr>
				<th style="text-align: right; " >Phone:</th>
				<td> {{ producer.phone }} </td>
			</tr>
			<tr>
				<th style="text-align: right; " >Fax:</th>
				<td> {{ producer.fax }} </td>
			</tr>
			<tr>
				<th style="text-align: right; " >Email:</th>
				<td> {{ producer.email_address }} </td>
			</tr>
			<tr>
				<th style="text-align: right; " >Website:</th>
				<td> {{ producer.website|urlize }} </td>
			</tr>
		</table>
		<h4>Address</h4>
		<p>{{ producer.address|linebreaksbr }}</p>

		<h4>Contacts</h4>
		<p>
		{% for contact in producer.contacts.all %}
			{{ contact.name }} {{contact.phone }} {{ contact.email|urlize }}</br>
		{% endfor %}
		</p>

		<h4>Description</h4>
		<p>{{ producer.description|linebreaksbr }}</p>

		<h4 >Philosophy</h4>
		<p>{{ producer.philosophy|linebreaksbr }}</p>

		<h4>Storage capacity</h4>
		<p>{{ producer.storage_capacity|linebreaksbr }}</p>
	</div>

	<div style="float: left; margin-left: 1em; width: 40%;" >
		<h4 style="margin-top: 0; " >
			Today's prices: &nbsp;&nbsp;&nbsp;
			<a href="">Change products and prices</a>
		</h4>
		<table>
			<tr>
				<th>Product</th>
				<th>Pay Price</th>
				<th>Selling Price</th>
			</tr>
			{% for product in producer.producer_products.all %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>{{ product.product.long_name }}</td>
				<td style="text-align: right; ">${{ product.product.unit_price_now }}</td>
				<td style="text-align: right; ">${{ product.product.unit_price_now }}</td>
			</tr>
			{% endfor %}
		</table>

		<h4 style="margin-top: 1em;" >
			What we have available now: &nbsp;&nbsp;&nbsp;
			<a href="{% url producer_inventory_update prod_id=producer.id year=date.year month=date.month day=date.day next="profile" %}">
				Change availability
			</a>
		</h4>
		<table>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Ordered</th>
			</tr>
			{% for item in producer.available_now %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>{{ item.product }}</td>
				<td style="text-align: right; ">{{ item.qty }}</td>
				<td style="text-align: right; ">{{ item.product.total_ordered_now }}</td>
			</tr>
			{% endfor %}
		</table>
		

		<h4 style="margin-top: 1em;" >
			Our 4 week harvest plan: &nbsp;&nbsp;&nbsp;
			<a href="{% url producer_dojo_planning_table member_id=producer.id list_type='M' from_date=start to_date=end next="producer_profile" %}">
				Change plans
			</a>
		</h4>
		<table>
			<tr>
				<th>Product</th>
				<th>Date</th>
				<th>Quantity</th>
			</tr>
			{% for plan in producer.planned_available %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>{{ plan.product.long_name }}</td>
				<td>{{ plan.from_date }}</td>
				<td style="text-align: right; ">{{ plan.quantity }}</td>
			</tr>
			{% endfor %}
		</table>

	</div>

	<div style="clear: both; " ></div>


</div>
{% endblock %}


