{% extends "base.html" %}
{% load i18n %}


{% block title %}
     {{ producer }} Profile - Edit
{% endblock %}

{% block header %}

<style type="text/css">
	p
	{
		margin-top: 0;
		margin-bottom: 0;
	}
	h4
	{
		margin-top: 2px; 
		margin-bottom: 0;
	}
	ul 
	{
		list-style-type: none;
		margin-top: 0;
	}
</style>

{% include "dojo_include.html" %}

<script type="text/javascript" >

	function colorChanged(evt)
	{
		color = evt.target.value;
		document.body.style.background = color;
	}

	dojo.addOnLoad(function()
	{
	var node = dojo.byId("id_background_color");
	dojo.connect(node, "onchange", "colorChanged");
	});

</script>

{% endblock %}


{% block content %}

<div class="products">

	{% include "producer/producer_tabnav.html" %}
	
	<h3 style="padding-top: 0; margin-top: 0; margin-bottom: 1em;" >{{ producer.long_name }} Profile</h3>


	<form enctype="multipart/form-data" action="." method="POST" >{% csrf_token %}

		<div style="width: 80%; margin-bottom: 1em;" >
			<input style="margin-left: 30em; margin-bottom: 1em; " type="submit" name="submit-profile" value='{% trans "Save Profile changes" %}' />
		</div>

		<div style="float: left; margin-left: 1em; width: 40%;" >

		<table style="margin-top: 4px;" >
			{% if form.long_name.errors %}
			<tr>
				<td colspan="2" style="color: red; " >
					{{ form.long_name.errors }}
				</td>
			</tr>
			{% endif %}
			<tr>
				<th style="text-align: right; " >Name:</th>
				<td> {{ form.long_name }} </td>				
			</tr>
			<tr>
				<th style="text-align: right; " >Tag line:</th>
				<td> {{ form.tag_line }} </td>
			</tr>
			<tr>
				<th style="text-align: right; " >Phone:</th>
				<td> {{ form.phone }} </td>
			</tr>
			<tr>
				<th style="text-align: right; " >Fax:</th>
				<td> {{ form.fax }} </td>
			</tr>
			<tr>
				<th style="text-align: right; " >Email:</th>
				<td> {{ form.email_address }} </td>
			</tr>
			<tr>
				<th style="text-align: right; " >Website:</th>
				<td> {{ form.website }} </td>
			</tr>
			<tr>
				<th style="text-align: right; " >Specialties:</th>
				<td> {{ form.specialties }} </td>
			</tr>
		</table>
		<h4>Address</h4>
		<p>{{ form.address }}</p>


		<h4>Description</h4>
		<p>{{ form.description }}</p>

		<h4 >Philosophy</h4>
		<p>{{ form.philosophy }}</p>

		<h4>Storage capacity</h4>
		<p>{{ form.storage_capacity }}</p>

		<input type="submit" name="submit-profile" value='{% trans "Save Profile changes" %}' />

	</div>
	<div style="float: left; margin-left: 2em; width: 40%;" >

		<h4>Contacts</h4>
			<table class="ga-event-table" >
				<thead>
					<th>Name</th>
					<th>Phone</th>
					{% comment %}
					<th>Cell</th>
					{% endcomment %}
					<th>Email</th>
                			{% if deletables %}
						<th>Delete</th>
					{% endif %}
				</thead>
				<tbody>
    					{% for form in contact_forms %}
					{{ form.id }}
						{% if form.name.errors %}
						<tr>
							<td colspan="4" style="color: red; " >
							Name is required
							</td>
						</tr>
						{% endif %}
        					<tr>
							<td>{{ form.name }}</td>
							<td>{{ form.phone }}</td>
							{% comment %}
							<td>{{ form.cell }}</td>
							{% endcomment %}
							<td>{{ form.email }}</td>
							{% if form.deletable %}
								<td style="text-align: center; " >{{ form.delete }}</td>
							{% endif %}
						</tr>
						<tr>
							<td style="text-align: right; " >Photo:</td>
							<td colspan=3>{{ form.avatar }}</td>
						</tr>
					{% endfor %}
					{% for form in add_forms %}
						{% if form.name.errors %}
						<tr>
							<td colspan="4" style="color: red; " >
							Name is required
							</td>
						</tr>
						{% endif %}
        					<tr>
							<td>{{ form.name }}</td>
							<td>{{ form.phone }}</td>
							{% comment %}
							<td>{{ form.cell }}</td>
							{% endcomment %}
							<td>{{ form.email }}</td>
						</tr>
						<tr>
							<td style="text-align: right; " >Photo:</td>
							<td colspan=3>{{ form.avatar }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			{% comment %}
			<p style="margin-top: 2em;">
		            <input type="submit" name="submit-contacts" value="Save Profile changes" />
			</p>
			{% endcomment %}
			<p style="margin-top: 1em;" >
			<strong>Background color:</strong> {{ form.background_color }}
			</p>
			<p style="margin-top: 1em;" >
			<strong>Logo:</strong> {{ form.logo }}
			</p>
		</form>

	</div>
	<div style="clear: both; " ></div>


	
</div>
{% endblock %}



