{% extends "base.html" %}
{% load i18n %}


{% block title %}
     {{ producer }} Profile
{% endblock %}

{% block header %}

<style type="text/css">
	h4
	{
		margin-top: 2px; 
		margin-bottom: 0;"
	}
	th, td
	{
		padding-left:5px;
	}
	th
	{
		font-weight:bold;
	}
	tr.even td 
	{
		color:#000000;
		background-color:#EAF2D3;
	}
	p
	{
		margin-top: 0;
		font-size: 80%;
	}

</style>

{% endblock %}


{% block content %}

<div class="{{ div_class }}">

	{% include tabnav %}
	
	<h3 style="padding-top: 0; margin-top: 0; " >
		{{ producer.long_name }} Profile
	</h3>

	<div style="float: left; margin-left: 1em; width: 40%;" >
		<table>
			{% if producer.phone %}
			<tr>
				<th style="text-align: right; " >Phone:</th>
				<td> {{ producer.phone }} </td>
			</tr>
			{% endif %}
			{% if producer.fax %}
			<tr>
				<th style="text-align: right; " >Fax:</th>
				<td> {{ producer.fax }} </td>
			</tr>
			{% endif %}
			{% if producer.email %}
			<tr>
				<th style="text-align: right; " >Email:</th>
				<td> {{ producer.email_address }} </td>
			</tr>
			{% endif %}
			{% if producer.website %}
			<tr>
				<th style="text-align: right; " >Website:</th>
				<td> {{ producer.website|urlize }} </td>
			</tr>
			{% endif %}
		</table>
		{% if producer.address %}
		<h4>Address</h4>
		<p>{{ producer.address|linebreaksbr }}</p>
		{% endif %}

		{% if producer.contacts.all %}
		<h4>Contacts</h4>
		<p>
		{% for contact in producer.contacts.all %}
			{{ contact.name }} {{contact.phone }} {{ contact.email|urlize }}</br>
		{% endfor %}
		</p>
		{% endif %}

		{% if producer.description %}
		<h4>Description</h4>
		<p>{{ producer.description|linebreaksbr }}</p>
		{% endif %}

		{% if producer.philosophy %}
		<h4 >Philosophy</h4>
		<p>{{ producer.philosophy|linebreaksbr }}</p>
		{% endif %}

		{% if producer.storage_capacity %}
		<h4>Storage capacity</h4>
		<p>{{ producer.storage_capacity|linebreaksbr }}</p>
		{% endif %}
	</div>

	<div style="float: left; margin-left: 1em; width: 40%;" >
		<h4 style="margin-top: 0; " >
			Today's prices:
		</h4>
		<table>
			<tr>
				<th>Product</th>
				<th>Unit Price</th>
			</tr>
			{% for product in producer.producer_products.all %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>{{ product.product.long_name }}</td>
				<td style="text-align: right; ">${{ product.unit_price_now }}</td>
			</tr>
			{% endfor %}
		</table>

		{% if producer.available_now %}
		<h4 style="margin-top: 1em;" >
			What we have available now:
		</h4>
		<table>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Ordered</th>
			</tr>
			{% for item in producer.available_now %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>{{ item.product }}</td>
				<td style="text-align: right; ">{{ item.qty }}</td>
				<td style="text-align: right; ">{{ item.product.total_ordered_now }}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}

		{% if producer.planned_available %}
		<h4 style="margin-top: 1em;" >
			Our 4 week harvest plan:
		</h4>
		<table>
			<tr>
				<th>Product</th>
				<th>Date</th>
				<th>Quantity</th>
			</tr>
			{% for plan in producer.planned_available %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>{{ plan.product.long_name }}</td>
				<td>{{ plan.from_date }}</td>
				<td style="text-align: right; ">{{ plan.quantity }}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}

	</div>

	<div style="clear: both; " ></div>


</div>
{% endblock %}


