{% extends "base.html" %}

{% load threadedcomments_tags %}

{% block title %}
     {{ food_network }} Customer Comments
{% endblock %}

{% block extra_head %}
{{ block.super }}

<style type="text/css">
	button
	{
		font-size: 50%;
	}
	input, textarea
	{
		border : 1px solid lightgrey;

	}
	p
	{
		margin-top: 0;
		margin-bottom: 0;
	}
</style>

{% include "dojo_include.html" %}

<script type="text/javascript" >

	function toggleComment(evt)
{
	elId = evt.target.id.split('-')[1];;
	var el = dojo.byId(elId);
 	if(el.style.display != "none")
  	{
		el.style.display = "none";
		evt.target.innerHTML="+";
  	}
  	else
	{
		el.style.display = "";
		evt.target.innerHTML="-";
	}

}	

	dojo.addOnLoad(function()
	{
		var queryNodes = dojo.query(".toggle");
		for(var i=0;i<queryNodes.length;i++)
		{
			var node = queryNodes[i];
			dojo.connect(node, "onclick", "toggleComment");
		}
	});

</script>

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="comments" style="margin-bottom: 2em;" >

	{% include "customer/customer_tabnav.html" %}
	
	<h3 style="padding-top: 0; margin-top: 0; " >Comment on Producers and Products</h3>

	<h3>Send a comment to a producer that you have recently purchased from:</h3>
	<div style="margin-left: 2em;" >
	{% for producer in producers %}
	<p>
	{{ producer.long_name }} <button id="toggle-producer{{ producer.id }}comment" class="toggle" >+</button>
	</p>
	<div id="producer{{ producer.id }}comment" style="display: none;" >
	{% get_comment_form for producer as form %}
	{% include "threadedcomments/comment_form.html" %}
	</div>
	<div>
		{% get_comment_list for producer as comments %}
		{% include "customer/comments_for_customer.html" %}
	</div>
	{% endfor %}
	</div>

	<h3>Send a comment to a producer about a recently purchased product:</h3>
	<div style="margin-left: 2em;" >
	{% for product in products %}
	<p>
	{{ product.producer }} {{ product.product }}
	<button id="toggle-product{{ product.id }}comment" class="toggle" >+</button>
	</p>
	<div id="product{{ product.id }}comment" style="display: none;" >
	{% get_comment_form for product as form %}
	{% include "threadedcomments/comment_form.html" %}
	</div>
	<div>
		{% get_comment_list for product as comments %}
		{% include "customer/comments_for_customer.html" %}
	</div>
	{% endfor %}
	</div>

	
</div>
{% endblock %}

