{% extends "base.html" %}

{% load humanize %}
{% load threadedcomments_tags %}


{% block title %}
     {{ food_network }} Customer Dashboard
{% endblock %}

{% block extra_head %}
{{ block.super }}

{% include "dojo_include.html" %}


    <script type="text/javascript">
        dojo.require("dojo.parser");
        dojo.require("dijit.form.DateTextBox");
    </script>

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<div class="customer-dashboard">

	{% include "customer/customer_tabnav.html" %}
	
	<h3 style="padding-top: 0; margin-top: 0; " >{{ food_network.long_name }} Customer Dashboard for {{ customer.long_name }}</h3>

	<p>
	Next delivery date: {{ cycle.delivery_date|date:"l, F j" }}&nbsp;&nbsp; 
	Order closing: {{ cycle.order_closing|date:"l, F j, f A" }}
	</p>

	<div style="float: left; width: 40%;">
	<h3 style="padding-top: 0; margin-top: 0; " >What's available:</h3>
	<table class="ga-event-table" >
		<thead>
		<tr>
			<th style="text-align:left;" >Product</th>
			<th style="text-align:left;" >Producer</th>
			<th>Growing Method</th>
			<th style="text-align: right:" >Quantity</th>
			<th style="text-align: right;" >Price</th>
		</tr>
		</thead>
		<tbody>

		{% for row in avail_rows %}
			<tr>
				<td style="text-align:left;" >{{ row.product }}</th>
				<td style="text-align:left;" >
					<a href="{% url producer_profile_for_customer producer_id=row.producer.id tabs='C' tab='customer-dashboard' %}">
						{{ row.producer }}
					</a>
				</td>
				<td>{{ row.product.growing_method }}</td>
				<td style="text-align: right;" >{{ row.qty|intcomma }}</td>
				<td style="text-align: right;" >{{ row.price}}</td>
		
			</tr>
			{% endfor %}
		</tbody>

	</table>
	</div>

	{% if specials %}
	<div style="float: left; border: 2px solid grey; width: 40%; margin-top: 0; padding-left: 1em; padding-bottom: 4px;" >
		<h2>Specials</h2>
		{% for special in specials %}
		<h4>{{ special.headline }}</h4>
		<p style="margin-top: 0;" >{{ special.description|linebreaksbr }}<br />
		<b>Special Product:</b> {{ special.product.growing_method }} {{ special.product.long_name }}<br />
		<b>Special Price:</b> {{ special.formatted_price }} 
		<b>from:</b> {{ special.from_date|date:"D, M j" }} <b>to:</b> {{ special.to_date|date:"D, M j" }}

		</p>
		{% endfor %}
	</div>
	{% endif %}

	{% if some_comments %}
	<div style="float: left; width: 40%; margin-top: 0; padding-top: 0; padding-left: 1em; padding-bottom: 4px; color: gray; " >
		<h3 style="padding-top: 0; margin-top: 0; margin-bottom: 0; " >Praise and feedback:</h3>
		{% if producers %}
		<div style="margin-left: 1em; margin-top: 0; ">
			<h4 style="margin-top: 0; ">- to a producer:</h4>
			{% for producer in producers %}
			<span style="margin-left: 1em;">
				{{ producer.long_name }}
			</span>
			<div>
				{% get_comment_list for producer as comments %}
				{% include "threadedcomments/comment_list.html" %}
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% if products %}
		<div style="margin-left: 1em;">
			<h4>- about a product:</h4>
			{% for product in products %}
			<span style="margin-left: 1em; margin-top: 2px;">
				{{ product.producer.short_name }} {{ product.product.long_name }}
			</span>
			<div>
				{% get_comment_list for product as comments %}
				{% include "threadedcomments/comment_list.html" %}
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% for special in specials %}
		{% endfor %}
	</div>
	{% endif %}

	<div style="clear: both;"></div>

</div>
{% endblock %}

